<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h4>Random Word (attempt #{{request.session.counter}})</h4>
        <h1>{{request.session.output}}</h1>
        <form action="/generate" method="POST">
            {% csrf_token %}
            <input type="submit" value='Generate' >
        </form><br>
        <form action="/" method="POST">
            {% csrf_token %}
            <input type="submit" value='Reset Counter' >
        </form>
    </div>
</body>
</html>